<p>Hi <%%= @<%= singular_name %>.email %>,</p>
<p>You can confirm your account by clicking <%%= link_to "here", <%= plural_name %>_confirmation_update_url(@token) %>.</p>
<p>If you didn't create an account with us, you can safely ignore this.</p>
