<p>Hello <%%= @receiver_email %>,</p>
<p>You can change your email by clicking this <%%= link_to "link", <%= plural_name %>_settings_update_email_url(@token) %>
<p>If you didn't request this change, you can safely ignore this.</p>
