<p>Hello <%= @user.email %>,</p>
<p>
  Forgot your password? You can reset it <%= link_to "here", users_edit_reset_my_password_url(token: @token) %>.
</p>
<p>If this wasn't you, you can safely ignore this.</p>