/**
  WebRTC styling shit
 */

 body.connection-state-connected #self {
  cursor: pointer;
 }

#videos > video {
  background-color: #8d8d8def;
}

/* Video Effects */
.filter-grayscale {
  filter: grayscale(100%);
}

.filter-sepia {
  filter: sepia(100%);
}

.filter-noir {
  filter: grayscale(100%) contrast(300%) brightness(60%);
}

.filter-psychedelic {
  filter: hue-rotate(180deg) saturate(400%) contrast(200%);
}
