.calendar--table {
  border: 1px solid #333;
  /* Basically margins for <td> */
  border-collapse: separate;
  border-spacing: 10px 10px;
}

.calendar--table .month--link {
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  background-color: #333;
  border-radius: 50%;
}

.calendar--table > thead > tr >  th {
  text-align: center;
}

.calendar--table > tbody > tr > .calendar--cell {
  padding: 8px 10px;
  text-align: center;
  cursor: pointer;
}

.calendar--table > tbody > tr > .calendar--cell > .calendar--day {
  position: relative;
}

.calendar--table > tbody > tr > .calendar--cell > .calendar--day > .calendar--item {
  position: absolute;
  left: 0;
  right: 0;
  top: -7px;
  color: hotpink;
  font-weight: bolder;
  font-size: 2rem;
}

.calendar--table > tbody > tr > td.calendar--cell.today {
  color: white;
  background: #333;
  border-radius: 50%;
}

.calendar--table > tbody > tr > td.today:not([class="not--month"]):hover {
  background: black;
}

.calendar--table > tbody > tr > td.not--month {
  color: white;
  background: rgb(221, 221, 221);
  border-radius: 50%;
  cursor: default;
}