<h1>This is the index.html.erb</h1>

<%= render "shared/flash_message" %>

<% if current_user %>
  <h1>Hello <%= current_user.email %></h1>
  <%= link_to "Settings", users_settings_path %>
<% else %>
  <%= link_to "Log in", users_login_path %>
<% end %>